<div class="col">
    <label for="height">Height</label>
    <input type="text" name="height" id="height" class="form-control" [(ngModel)]="shipping.height">
</div>
<div class="col">
    <label for="width">width</label>
    <input type="text" name="width" id="width" class="form-control" [(ngModel)]="shipping.width">
</div>
<div class="col">
    <label for="length">length</label>
    <input type="text" name="length" id="length" class="form-control" [(ngModel)]="shipping.length">
</div>
<div class="col">
    <label for="weight">weight</label>
    <input type="text" name="weight" id="weight" class="form-control" [(ngModel)]="shipping.weight">
</div>