<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Add Product</h5>
                </div>
                <div class="card-body">
                    <div class="row product-adding">
                        
                        <!-- <div class="input-group is-invalid">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" [formControl]="fileControl" #file id="validatedInputGroupCustomFile" (change)="readUrl2(file.files)" required>
                                <label class="custom-file-label" for="validatedInputGroupCustomFile">Choose file...</label>
                            </div>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" (click)="addImage()">Add</button>
                            </div>
                        </div>                 -->
                        <div class="row">
                            <uploader [uploadList]="uploadList"></uploader>

                            <div *ngFor="let img of uploadList" class="col-sm-2 col-4">
                                <div class="col-xs-3">
                                    <h2 class="td-color">
                                        <a (click)="removeUpload(img)" class="icon">
                                            <i class="ti-close"></i>
                                        </a>
                                    </h2>
                                </div>
                                                    
                                <img *ngIf="img.url !=''" [src]="img.url" class="rounded mx-auto d-block img-thumbnail" alt="...">
                            </div>
                            
                        </div>                                    
                        <div class="col-xl-7">
                            <form class="needs-validation" >
                                <div class="add-product-form">
                                    <div class="form-group row">
                                        <label for="validationCustom01" class="col-xl-3 col-sm-4 mb-0">Title
                                            :</label>
                                        <input id="name" class="form-control col-xl-8 col-sm-7" id="validationCustom01"
                                            type="text" [(ngModel)]="item.name" name="name" required >                                            
                                                                               
                                    </div>
                                    <div class="form-group row">
                                        <label for="validationCustom03" class="col-xl-3 col-sm-4 mb-0">Product Code</label>
                                        <input class="form-control col-xl-8 col-sm-7" id="validationCustom03"
                                            type="number" [(ngModel)]="item.barcode" name="barcode" required="">
                                        
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-sm-4">Description</label>
                                        <textarea [(ngModel)]="item.description" name="description" class="form-control" rows="3"  placeholder="Description" required></textarea>
                                       
                                    </div>
                                    <div class="form-group row">
                                        <label for="validationCustom03" class="col-xl-3 col-sm-4 mb-0">Type</label>
                                        <input class="form-control col-xl-8 col-sm-7" id="validationCustom03"
                                            type="text" [(ngModel)]="item.type" name="type" required>
                                        
                                    </div>
                                    <div class="form-group row">
                                        <label for="validationCustom03" class="col-xl-3 col-sm-4 mb-0">Brand</label>
                                        <input class="form-control col-xl-8 col-sm-7" id="validationCustom03"
                                            type="text" [(ngModel)]="item.brand" name="brand" >
                                        
                                    </div>
                                    <div class="form-group row">
                                        <label for="validationCustom03" class="col-xl-3 col-sm-4 mb-0">Tags</label>
                                        <select class="form-control col-xl-8 col-sm-7" [(ngModel)]="selectedTags" name="tags" multiple>
                                            <option *ngFor="let t of tags | async" [value]="t.name">{{ t.name }}</option>                                            
                                        </select>    
                                    </div>
                                    <div class="form-group row">                                        
                                        <div class="col-sm-2">Category</div>
                                        <div class="col-sm-10">
                                            <div *ngFor="let cat of categoryList | async" class="form-check">                                               
                                                <input class="form-check-input" type="checkbox" id="{{cat.id}}" [value]="cat.id" (change)="changeCategory($event)">
                                                <label class="form-check-label" for="cat.id">
                                                {{ cat.name }}
                                                </label>                                               
                                            </div>  
                                        </div>                                              
                                    </div>
                                    <div class="form-group row">                                        
                                        <div class="col-sm-2">Attributes:</div>
                                        <div class="col-sm-10">
                                            <div *ngFor="let att of attributeList | async" class="form-check">                                               
                                                <input class="form-check-input" type="checkbox" id="{{att.id}}" [value]="att.id" (change)="changeAttribute($event, att)">
                                                <label class="form-check-label" for="att.id">
                                                {{ att.name }}
                                                </label>                                               
                                            </div>  
                                        </div>                                              
                                    </div>
                                    <div class="form-group row">
                                       <div class="col-sm-2">Shipping</div>
                                       <div class="col-sm-10">
                                            <app-shipping [shipping]="item.shipping"></app-shipping>
                                       </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-2">Price</div>
                                        <div class="col-sm-10">
                                             <product-price [productPrice]="item.price"></product-price>
                                        </div>
                                     </div>
                                </div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" (change)="changeValue($event)" id="customSwitch1">
                                    <label class="custom-control-label" for="customSwitch1">Has Variants</label>
                                </div>
                                <div *ngIf="item.hasVariants">
                                    <button type="button" (click)="addVariant()" class="btn btn-primary mr-1">Add</button>
                                    <div class="accordion" id="accordionExample">                                        
                                        <div *ngFor="let v of variantList" class="card">
                                            <div class="card-header" id="headingOne">
                                                <h2 class="mb-0">
                                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    {{ v.name }}
                                                </button>
                                                </h2>
                                            </div>
                                        
                                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <product-variant [uploadList]="uploadList" [itemAttributes]="itemAttributes" [variant]="v"></product-variant>
                                                </div>
                                            </div>
                                        </div>                                    
                                    </div>
                                </div>                                
                            </form>
                            <div class="form-group row mb-0">
                                <div class="product-buttons col-sm-8 offset-xl-3 offset-sm-4">
                                    <button type="button" (click)="onSubmit()" class="btn btn-primary mr-1">Save</button>
                                    <button type="button" class="btn btn-light">Discard</button>
                                </div>
                            </div>
                           
                            <div class="form-group row">
                                {{item | json }}
                            </div>
                            itemAttributes:{{ itemAttributes | json}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->