<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Products Category</h5>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-row">
                            <div class="col">
                                <label for="name">Name</label>
                                <input type="text" name="name" id="name" class="form-control" [(ngModel)]="category.name">                           
                            </div>
                            <div class="col">
                                <label for="parent" >Parent</label>
                                <select class="form-control" name="parent" (change)="onParentSelect($event)">
                                    <option *ngFor="let c of categoryList | async" [value]="c.id">{{ c.name }}</option>
                                </select>                                                            
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-primary" (click)="addCategory()">Add Category</button>
                            </div>
                        </div>
                    </form>
                    <div class="col-xl-12 col-sm-12">
                        <category-list [categoryList]="categoryList" (categorySelected)="onCategorySelect($event)"></category-list>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->