<div class="container-fluid">
    <div class="card">
        <div class="row product-page-main card-body">
            <div class="col-xl-4">
                <section>
                    <ks-carousel *ngIf="imagesRect" [id]="100" [images]="imagesRect" [dotsConfig]="{visible: false}"
                        [carouselConfig]="{maxHeight: '600px', keyboardEnable: true}"
                        [previewConfig]="{maxHeight: '125px'}">
                    </ks-carousel>
                </section>
            </div>
            <div class="col-xl-8">
                <div class="product-page-details product-right mb-0">
                    <h2>{{ item.name }}</h2>
                    <ngb-rating [rate]="3" class="rating-size-product"></ngb-rating>
                    <hr>
                    <h6 class="product-title">product details</h6>
                    <p class="mb-0">{{item.description}}</p>
                    <div class="product-price digits mt-2">
                        <h3>{{item.price["salePrice"]}} <del>{{item.price['price']}}</del></h3>
                    </div>
                    <!-- <ul class="color-variant" *ngIf="item.availableColors !=''"> 
                        <li [class]="color" *ngFor="let color of getColorList(item.availableColors)" [ngStyle]="{'background-color': color}"
                          (click)="ChangeVariants(color, item)">
                        </li>
                    </ul> -->
                    <ul class="color-variant" *ngIf="productVariantList.length > 0"> 
                        <li [class]="color" *ngFor="let color of avialableColorList" [ngStyle]="{'background-color': color}"
                          (click)="ChangeVariants(color, item)">
                        </li>
                    </ul>
                   
                    <hr>
                    <h6 class="product-title size-text">select size
                        <span class="pull-right">
                            <a data-toggle="modal" (click)="open(content)" class="font-primary">size chart</a>
                        </span>
                    </h6>
                    <ng-template #content let-modal>
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Sheer Straight Kurta</h5>
                            <button type="button" class="close" aria-label="Close"
                                (click)="modal.dismiss('Cross click')">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img src="assets/images/size-chart.jpg" alt="" class="img-fluid blur-up lazyloaded">
                        </div>
                    </ng-template>
                    <div class="size-box">
                        <ul>
                            <li class="active"><a href="javascript:void(0)">s</a></li>
                            <li><a href="javascript:void(0)">m</a></li>
                            <li><a href="javascript:void(0)">l</a></li>
                            <li><a href="javascript:void(0)">xl</a></li>
                        </ul>
                    </div>
                    <div class="add-product-form">
                        <h6 class="product-title">quantity</h6>
                        <div class="qty-box1">
                            <div class="input-group">
                                <i class="fa fa-minus btnGtr1" (click)=decrement()></i>
                                <input class="touchspin1 text-center" name="counter" [value]="counter" type="text">
                                <i class="fa fa-plus btnLess1" (click)=increment()></i>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h6 class="product-title">Time Reminder</h6>
                    <!-- <button type="button" (click)="addVariant()" class="btn btn-primary mr-1">Add</button>
                    <div class="accordion" id="accordionExample">                                        
                        <div *ngFor="let v of productVariantList" class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    {{ v.name }}
                                </button>
                                </h2>
                            </div>
                        
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <product-variant [uploadList]="uploadList" [itemAttributes]="itemAttributes" [variant]="v"></product-variant>
                                </div>
                            </div>
                        </div>                                    
                    </div> -->
                    <div class="m-t-15">
                        <button class="btn btn-primary m-r-10" type="button">Add To Cart</button>
                        <button class="btn btn-secondary" type="button">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>